
body{
    /* background-color: #fdedf0; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cartbar p > #second{
    color: #14cda8;
    border-bottom: 2px solid  #14cda8;
    padding-bottom: 5px;
    font-weight: 500;
    letter-spacing: 0.15rem;
    font-size: 0.76rem;
}
#cartbar p > #first{
   
    padding-bottom: 5px;
    font-weight: 500;
    letter-spacing: 0.15rem;
    font-size: 0.76rem;
}
#cartbar p > #third{
   
    padding-bottom: 5px;
    font-weight: 500;
    letter-spacing: 0.15rem;
    font-size: 0.76rem;
}

/*  */
#cartbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F5F5F6;
    margin: 0px -8px;
    margin-top: -0.5rem;
    color: gray;
    align-items: center;
    height: 79px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#cartbar >div{
    
    height: 50px;
    display: flex;
   align-items: center;
   margin: 5px 20px;
   justify-content: space-between;

}
#cartbar span{
    letter-spacing: 2.5px;
   font-size: 0.8rem;
   font-weight: 700;

}
#cartbar >div>img{
    height: 70%;
    cursor: pointer;
}
#cartbar >div:first-child{
    margin-left: 50px;
}
#cartbar >div:last-child{
    margin-right: 50px;
}

#cartbar p > *{
    cursor: pointer;
}
/*  */

#addressContainer{
    display: flex;
    width: 60%;
    margin: auto;
    
    /* grid-template-columns: repeat(2,1fr);
    grid-gap: 100px; */
    
}
#t{
    margin-top: 20px ;
    margin-bottom: 5px;
}
#addressform{
    margin-top: 3rem;
    font-size: 12px;
    font-weight: 500;
    width: 360px;
    /* height: 80vh; */
    /* margin: auto; */
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    /* margin-right: 10%; */
}
input{
    width: 93%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px ;
    
}
#city,#state{
    width: 40%;
}
#state{
    margin-right: 5px;
}
#citytown{
    display: flex;
    justify-content: space-between;
}

#adtype{
    display: flex;
    
}
#home,#work {
    width: 25%;
    border-radius: 50px;
    margin-right: 10px;
    background-color: white;

}
#home:click{
    color: red;
    border: 1px solid red;
}
#adtype+div{
    display: flex;
}
#makedefault{
    width: 10%;
}
#lable{
    margin: 10px 0;
    color: #646772;
}
#sub{
    width: 100%;
    color: white;
    background-color: #ff3f6c;
    border: none;
}

#paymentamount{
    margin-top: 1rem;
    width: 40%;
    margin-left: 20%;
    /* border: 1px solid #000; */
}

/*  cart */
.amount{
    font-weight: bold;
}
.filldiscount{
    color:#20bd99;
    text-decoration: none;
}
.pricedetails,.amount{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}


.amount + p{
    text-align: center;
    font-size: 20px;
}



#paymentamount > div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    color: #535766;
    padding: 0.4rem;
    
}
.convinence span:last-child{
    font-size: 0.8rem;
}
.convinence span:last-child span:last-child{
    color: #14cda8;
}
.convinence span:last-child span:first-child{
    text-decoration: line-through;
    
}